.top-bar-account {
    display: flex;
    height: 65px;
    border-bottom: 1px solid #dbdbdb;
    background: #fff;
    align-items: center;
    padding: 0 0 0 40px;
    flex-shrink: 0;
}

.button-add {
    cursor: pointer;
    display: flex;
    background: #fff;
    border: solid 1px #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 2px 0 #f5f5f5;
    color: #607180;
    font-size: 11px;
    line-height: 30px;
    padding: 0 16px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
}
.button-add > i {
    font-size: 11px;
    margin-right: 6px;
    margin-top: 3px;
}
.text-add {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
.box-filter.filter {
    margin-right: 10px;
}
.button-add-loc{
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 6px 12px;
    text-transform: uppercase;
    margin-left: 20px;
    color: #797979;
    font-weight: bold;
    font-size: 14px;
    width: 56px;
}

.checkbox-All {
    margin-right: 20px;
    margin-left: 25px;
}

.account-content {
    margin: 13px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-line {
    border-left: 1px solid #c5c5c5;
    height: 35px;
    margin: 0px 15px 0 15px;
}

.table-account {
    height: 60px;
    background-color: #fff;
}

.account-item {
    display: flex;
    align-items: center;
}

.fi-sort-down:before {content: "\f0dd";}

.checkbox-account-list{
    padding-left: 20px;
    width: 5%;
}

.img-account {
    padding: 20px;
    width: 10%;
    font-size: 24px;
    color: #7db799;
}

.icon-hoatdong{
    font-size: 24px;
    color: #7db799;
}

.name-account {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    width: 70%;
    font-size: 14px;
    font-weight: bold;
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    width: 20%;
    font-size: 14px;
    color: #656565;
}

.gmail-account {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    width: 30%;
    font-size: 14px;
    color: #656565;
}

.status-account {
    padding: 20px;
    width: 20%;
    display: flex;
    background-position: 0 0;
}

.status-account > .status-icon {
    background: url(../images/icon_lock_unlock.png) 0 -19px no-repeat transparent;
    width: 16px;
    min-width: 16px;
    height: 16px;
    display: block;
}

.status-account > .status-icon.active {
    background: url(../images/icon_lock_unlock.png) 0 0 no-repeat transparent;
    width: 16px;
    min-width: 16px;
    height: 16px;
    display: block;
}

.status-text-true{
    font-size: 14px;
    margin-left: 22px;
    color: #2ea2c7;
}

.status-text-false{
    font-size: 14px;
    margin-left: 22px;
    color: #434444;
}

.fi-ban:before {
    content: "\e84a";
}

.icon-account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.fi-lock:before {
    content: "\e824";
}

.fi-gear:before {
    content: "\e83e";
}

.fi-user-circle-o:before {
    content: "\f2be";
}

.fi-plus-circle:before {
    content: "\e81e";
}

.fi-check-circle-o:before {content: "\e819";}

.icon-account-1{
    padding: 8px;
}

.icon-account-2{
    padding: 8px;
}

.icon-account-3{
    padding: 8px;
}

.sarch-account {
    outline: none;
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    padding: 0 5px 0 5px;
    font-size: 14px;
}

.answer-actions-account{
    position: absolute;
    right: 20px;
    bottom: 0;
    display: none;
    box-shadow: 0 0px 4px 2px #eee;
}
.answer-actions-account.answer-action-account.update:hover{
    background-color: #f1f1f1;
}

.answer-actions-account .answer-action-account:first-child {
    border-width: 1px;
    border-radius: 3px 0 0 3px;
}

.account-item.background-true{
    background-color: #fff;
    margin-bottom: -20px;
}

.account-item.background-false{
    background: #f7f7f7;
    margin-bottom: -20px;
}

.account-item.background-2{
    background-color: #f1eef3;
}

.table-account.account-item {
    width: 800px;
    height: 700px;
}

.icon-lock {
    margin: 0 5px;
}


.icon-gear{
    margin-left: 20px;
}

.Container-add-account {
    position: fixed;
    top: 37px;
    width: 100%;
    height: calc(100% - 40px);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    background-color: #f1eef3;
    margin-top: 21px;
    margin-left: 0px;
    display: grid;
    grid-template-rows: 1fr auto;
}
  
.close-account{
    margin-right: 20px;
    display: flex;
    position: absolute;
    top: 2px;
    right: 5px;
    color: #3e3e3e;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent url(../images/icon_close_15x15.png) 8px no-repeat;
    padding: 8px 8px 8px 30px;
    z-index: 99999;
  }

.close-account:hover{
    background-color: #f0eaea;
    border-radius: 16px;
  }

.bottom-actions-account {
    margin-bottom: 20px;
}

.text-account {
    text-align: center;
    margin-top: 50px;
}

.division-line-account {
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    height: 35px;
    width: 381px;
    margin: 0 15px 0 5px;
    margin-top: 110px;
    margin-bottom: 25px;
}

.from-add-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 310px;
    height: 26px; */
}
.text-input{
    width: 410px;
    height: 36px;
    margin-top: 15px;
}

.row_item {
    display: flex;
    margin: 0 90px 15px 90px;
    align-items: center;
    height: 33px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 0 4px #f4f4f4 inset;
    border-radius: 3px;
    flex-shrink: 0;
}

.row_item .left {
    margin-left: 15px;
    color: #859095;
    width: 85px;
    font-size: 14px;
}

.row_item .right .ims-input {
    border: none;
}

.ims-input {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
    padding: 0px;
}

.ims-input input {
    width: 100%;
    height: 28px;
    border: none;
    padding: 0px 4px;
    background-color: #77212100;
}

.row_item .right input{
    border: none;
    width: 200px;
    font-size: 14px;
    color: #525252;
    font-weight: bold;
    margin-left: 5px;

}

.tooltip-right[data-tooltip]:before {
    left: 100%;
    transform: translate(8px,0%);
}

*[data-tooltip]:before{
    
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    display: none;
    bottom: -6px;
    background: #41afd2;
    white-space: nowrap;
    padding: 0 10px;
    z-index: 12;
    font-size: 12px;
    color: #fff;
    font-family: Arial;
    font-weight: normal;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    transform: translate(-50%, 100%);
}

.tooltip-right[data-tooltip]:after{
    border-bottom-color: transparent;
    border-right-color: #41afd2;
    left: auto;
    bottom: 2px;
    margin-left: 0px;
    right: -8px;
}

*[data-tooltip]:after{
    left: 50%;
    bottom: -6px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 12;
    pointer-events: none;
    border-color: rgba(65, 175, 210, 0);
    border-bottom-color: #41afd2;
    border-width: 6px;
    margin-left: -6px;
    display: none;
}

.row_username input {
    font-size: 23px;
    font-weight: bold;
    color: #2ea2c7;
    text-align: center;
    border: none;
    width: 100%;
    margin-bottom: 4px;
}

button, input {
    overflow: visible;
}

.username-bottom-border{
    width: 0;
    border-bottom: 2px solid;
    position: absolute;
    bottom: -2px;
    color: #2ea2c7;
    -webkit-transition: width 0.1s ease-out;
    -moz-transition: width 0.1s ease-out;
    -o-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
}

.username-bottom-border {
    width: 100%;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

i.sprite-icon.icon-cog {
    background-position: -74px -1px;
}

i.sprite-icon {
    background: url(../images/sprite-list.png) no-repeat transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}
i.sprite-icon.icon-pencil {
    background-position: -26px -1px;
}
i.sprite-icon.icon-lock {
    background-position: -50px 0;
}

*[data-tooltip] {
    position: relative;
}

i {
    font-style: italic;
}

.lisAccount .footer {
    height: 83px;
    min-height: 45px;
    box-shadow: 0 -5px 5px -5px #ccc;
    background: #f2f2f2;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.form-add-account >.footer > .jsx-btn-3 {
    margin-right: 15px;
}


.jsx-btn-3 {
    margin-left: 14px;
    cursor: pointer;
    display: flex;
    background: #fff;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    color: #607180;
    font-size: 11px;
    line-height: 30px;
    padding: 0 12px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    margin-top: -38px;
}

.lisAccount {
    font-family: Arial;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.text-delete {
    margin-left: 10px;
}

.top-left {
    background-color: #fff;
    width: 370px;
    height: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 0px;
}



.dialog-content {
	position: fixed;
    top: 37px;
    right: 0;
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    z-index: 9999;
    background-color: #f1eef3;
    margin-top: 21px;
    margin-left: 0px;
    grid-template-rows: 1fr auto;
    transform: translate(100%);
    transition: transform ease 300ms;
}

 .dialog-left {
	width: 300px;
    height: 100%;
    background: #fdfdfd;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.content-left {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.title-left {
	color: #3c3c3c;
    font-size: 15px;
    line-height: 65px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.content-info {
	display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 0 40px;
    position: relative;
}

.content-info span {
	text-align: left;
    color: #8d8d8d;
    font-size: 14px;
    width: 100%;
    line-height: 21px;
}

.avatar-info {
	width: 138px;
    height: 138px;
	background: url("http://demoims2.cnnd.vn/Statics/images/avatar.png") center center / cover no-repeat;
}

.info-username {
	font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 15px 0;
    color: #494949;
}

.permission-groups {
	border-top: 1px solid #e4e4e4;
    padding: 25px 0px 0px;
    margin-top: 25px;
}

.groups-title {
	color: #2ea2c7;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    flex-shrink: 0;
    padding: 0 40px;
}

.groups-body {
	margin-bottom: 10px;
    padding: 0px 40px 20px;
}

.groups-body ul{
    list-style: none;
    margin-top: 25px;
}

.groups-body ul li{
    cursor: pointer;
    align-items: center;
    line-height: 25px;
    display: flex;
    font-size: 14px;
    color: #637585;
    position: relative;
}

.groups-body i {
    opacity: 0.5;
    width: 25px;
    display: block;
    height: 16px;
    background: url("http://demoims2.cnnd.vn/statics/images/permission_icon_2.png") 0 25px no-repeat;
    top: 4px;
    position: absolute;
}

.permission-group-1 {
	background-position: 0px -70px;
}

.content-right {
    display: flex;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    background: #f4f4f4;
}

.scrollbar-account-edit-right > .edit-detail {
	background: #fff;
	width: 500px;
	height: 392px;
	margin-top: 98px;
	margin-bottom: 30px;
	margin-left: 315px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 4px #ddd;
	border-radius: 3px;
	padding-bottom: 40px;
	position: relative;
}

.top-edit > .content-right > .edit-detail {
    background: #fff;
    width: 500px;
    height: 385px;
    margin-top: 98px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px #ddd;
    border-radius: 3px;
    padding-bottom: 40px;
    position: relative;
}


.icon_edit {
    display: block;
    background: url("http://demoims2.cnnd.vn/statics/images/icon_edit.png") no-repeat right 0px transparent;
    width: 37px;
    height: 37px;
    top: -70px;
    position: absolute;
    right: 155px;
    cursor: pointer;
}

.edit-avatar-info {
	width: 178px;
    margin: -98px 0 0 165px;
    overflow: hidden;
    border-radius: 100px;
    border: 8px solid #f5f5f5;
    height: 178px;
    flex-shrink: 0;
}

.edit-username {
	 font-size: 23px;
    font-weight: bold;
    color: #2ea2c7;
    text-align: center;
    border: none;
    width: 100%;
    padding: 14px;
}

.edit-info-item {
	display: flex;
	margin: 10px 90px 10px 90px;
	align-items: center;
	height: 40px;
	width: 344px;
	border: 1px solid #e9e9e9;
	box-shadow: 0 0 4px #f4f4f4 inset;
	border-radius: 3px;
}

.edit-info-item-left {
	margin-left: 15px;
    color: #859095;
    width: 85px;
    font-size: 14px;
}

.ims-input input {
    outline: none;
	border-color: red;
	border: none;
	width: 230px;
	font-size: 14px;
	color: #525252;
	font-weight: bold;
	margin-left: 5px;
	padding: 4px;
}
.ims-modal.error .modal-conten {
    display: flex;
    flex-grow: 1;
    margin-top: 14px;
    background: #fff;
    justify-content: center;
    margin-left: 30px;
}

.top-edit {
    display: flex;
    height: calc(100vh  - 100px);
    width: 100%;
}

.name {
    flex-grow: 1;
    padding-left: 26px;
}

.groups-body ul li {
    font-size: 14px;
    color: #637585;
    line-height: 25px;
}

.fi-comment-o:before {content: "\f0e5";}

.list-ds {
    font-family: Arial;
}

.user_avatar {
    background : url(../images/avatar.png) ;
}

.icon-account .icon-edit , .icon-account .icon-lock {
    margin: 0 5px;
    position: relative;
}
.icon-account .title{
    display: none;
    position: absolute;
    top: 16px;
    right: -43px;
    z-index: 99999;
    width: 110px;
    flex-direction: column;
    align-items: center;
}
.icon-account .icon-edit:hover .title , .icon-account .icon-lock:hover .title {
    display: flex;
}
.icon-account .icon-edit:hover .title .fi-caret-up , .icon-account .icon-lock:hover .title .fi-caret-up {
    color: #2ea2c7;
    font-size: 17px;
}
.icon-account .icon-edit:hover .title span , .icon-account .icon-lock:hover .title span {
    background: #2ea2c7;
    color: white;
    padding: 6px 6px;
    border-radius: 7px;
    font-size: 12px;
    margin-top: -6px;
}

.icon-reset:not(.text-reset) {
    font-size: 20px;
}

.row_username {
    margin: 25px 115px;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}

.row_username .ims-input {
    position: relative;
    display: inline-block;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
    padding: 0px;
    border: none;
}

.row_username input {
    font-size: 23px;
    font-weight: bold;
    color: #2ea2c7;
    text-align: center;
    border: none;
    width: 100%;
    margin-bottom: 4px;
    outline: none;
}

.row_username .username-bottom-border {
    width: 0;
    border-bottom: 2px solid;
    position: absolute;
    bottom: -2px;
    color: #2ea2c7;
    -webkit-transition: width 0.1s ease-out;
    -moz-transition: width 0.1s ease-out;
    -o-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
}

.list-avatar-info {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 15px;
}

.icon-avatart-list {
    display: flex;
    align-items: center;
    width: 20%;
}

.icon-reset {
    margin-left: 15px;
}

.icon-hoatdong {
    font-size: 30px;
}

.dialog-left .content-left .scroll{
    position: absolute;
    width: 8px;
    right: 0px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
} 

.dialog-left .content-left .scroll .srcoll-bar {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    height: 376px;
    transform: translateY(140px);
}


.usermodal-main-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    flex-direction: column;
}

.usermodal-main-section > .permissions {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 70vh;
    flex-grow: 1;
}

.usermodal-main-section > .permissions > .content {
    display: flex;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    flex-grow: 1;
    background-color: #fafafa;
}

.usermodal-main-section > .permissions > .content .col_left {
    width: 310px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    top: 27px;
    box-shadow: inset -5px 0px 2px -5px rgba(0, 0, 0, 0.3);
}

.usermodal-main-section > .permissions > .content .col_right.active {
    background: white;
}

.usermodal-main-section > .permissions > .content .col_right {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    background: #fafafa;
}

.permissions > .content .col_left .scroll-wrapper {
    flex-grow: 1 !important;
    height: unset !important;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.permissions > .content .col_left .scroll-wrapper .scroll-wrapper-view {
    padding-right: unset !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
    overflow: scroll;
    margin-right: -8px;
    margin-bottom: -8px;
}

.usermodal-main-section > .permissions > .content .col_left .content2 {
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 2px;
}

.permissions > .content .col_left .list:not(.special-list) .item.active {
    font-weight: bold;
    background: white;
    border-left: 4px solid #2ea2c7;
    color: #2ea2c7;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.permissions > .content .col_left .list .item {
    display: flex;
    line-height: 21px;
    border-top: 1px dotted #bebebe;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-size: 14px;
    color: #637585;
    border-left: 4px solid transparent;
    padding: 18px 60px 18px 30px;
    flex-direction: column;
    position: relative;
}

.permissions > .content .col_left .list .item .col_name {
    flex-grow: 1;
    padding: 15px 20px 15px 30px;
}

.permissions > .content .col_left .content2 > .list > .item > .col_extra {
    height: 30px;
    display: flex;
    align-items: flex-end;
}

.ims-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.ims-checkbox > label.checkbox-label {
    cursor: pointer;
}

.permissions > .content .col_left .content2 > .list > .item > .col_extra label {
    font-weight: normal;
    font-size: 13px;
    color: gray;
}

.ims-checkbox .checkbox-label {
    font-size: 14px;
    color: #637585;
    user-select: none;
}

.permissions > .content .col_left .list:not(.special-list) .item.active {
    font-weight: bold;
    color: #2ea2c7;
}

.ims-checkbox input[type="checkbox"] + .checkbox-label:before {
    content: '';
    background-image: url(../images/radio-checkbox-icons.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -2px;
    cursor: pointer;
    position: relative;
    vertical-align: top;
}

.permissions > .content .col_left .list .item .jsx-flipswitch {
    width: 40px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 11px;
}

.jsx-flipswitch {
    width: 35px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.jsx-flipswitch.on > i {
    background-color: #2ea2c761;
}

.permissions > .content .col_left .list .item {
  
    justify-content: center;
    cursor: default;
    font-size: 14px;
    color: #637585;
    border-left: 4px solid transparent;
    padding: 18px 60px 18px 30px;
    flex-direction: column;
    position: relative;
}

.noselect {
    user-select: none;
}

.permissions > .content .col_left .list .item .col_name {
    flex-grow: 1;
    padding: 15px 20px 15px 30px;
}

input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input.textbox {
    width: 290px;
    margin-left: 45px;
    min-height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 5px 10px;
    color: #333;
    font: normal 13px Arial;
    line-height: 18px;
    background-color: #fff;
    display: block;
    transition: border-color 0.2s ease-out;
    margin-top: -10px;
}

.permissions > .content .col_right > .col_header {
    margin: auto;
    color: #637585;
    font-size: 16px;
    padding-top: 6px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid;
}
.div-loc {
    margin-left: 15px;
}

.permissions > .content .col_right .list {
    padding: 15px 30px 30px 30px;
    overflow: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.permissions > .content .col_right .list .item {
    margin-bottom: 10px;
}

input[type=checkbox].ims-checkbox.IMSSmall {
    display: none;
}

.IMSWrapper * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.permissions > .content .col_right .list .item .ims-checkboxlabel {
    height: auto;
    max-height: 28px;
}

.permissions > .content .col_right .list .item label {
    color: #656565;
    font-size: 14px;
}

input[type=checkbox].ims-checkbox.IMSSmall:checked + label.ims-checkboxlabel {
    background-position: -5px -305px;
}

input[type=checkbox].ims-checkbox.IMSSmall + label.ims-checkboxlabel {
    padding-left: 13px;
    height: 14px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: -5px -243px;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
    text-indent: 11px;
}

.permissions > .content .col_right .list .item .ims-checkboxlabel {
    height: auto;
    max-height: 28px;
}

.permissions > .content .col_right .list .item label {
    color: #656565;
    font-size: 14px;
}

.fi-sort-up:before {content: "\f0de";}

.down-up {

    margin-left: 13px;
    font-size: 22px;
    color: #a59d9d;
}

.dow-up-up {
    margin-top: 15px;
}

.groups-body > .list-ds > li{
    margin-top: 2px;
}

.account-content > .div-loc >  {
    margin-right: 15px;
}

.manager .icon-reset {
    margin-top: 10px;
    margin-right: 6px;
}

.dialogConfirm-Account {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 150px;
    margin-left: -266px;
    margin-top: -58px;
}

.Container-add-questions > .dialogConfirm-Account > .header {
    border-bottom: solid 1px #c8c8cc;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    padding: 8px 10px;
    position: relative;
    background: url(../images/modal_title_bg.png) top left repeat-x;
    font: bold 12px Arial;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: move;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.dialogConfirm-Account > .modal-content {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    background: #fff;
}

.password-change {
    align-items: center;
    width: 100%;
    align-self: center;
    margin: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
}

.password-change .row {
    display: flex;
    padding-bottom: 34px;
    width: 100%;
}

.password-change .row .label {
    width: 134px;
    text-align: right;
    color: #637585;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.reset-password-panel .row {
    display: flex;
    margin-top: 11px;
    margin-left: 5px;
}

.row .label {
    text-align: right;
    color: #637585;
    font-size: 14px;
}

.dialogConfirm-Account .footer-password {
    height: 40px;
    border-top: solid 1px #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: none;
    text-align: right;
}

.conten-footer {
    background: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
}

.conten-footer > .btn {
    padding: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
    margin: 5px;
}

.conten-footer > .otp {
    margin-left: 54px;
}

.dialogConfirm-Account-opt {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 121px;
    margin-left: -266px;
    margin-top: -58px;
}

.dialogConfirm-Account-opt >.footer-otp {
    width: 100%;
    height: 43px;
    margin-top: 50px;
    background: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
}

.conten-footer > .btn-otp {
    
    padding: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
    margin-left: -82px;
    margin-top: 7px;
}

.scroll-account {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f2f2f2;
}

.scroll-view-account {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 12px;
    padding-left: 10px;
    overflow: scroll;
    height: 100%;
    width: 98%; 
}

#my-style::-webkit-scrollbar {
    height: 8px;
 width: 8px;
 border-radius: 4px;
 background: transparent;
 transition: all .3s ease;
} 
#my-style::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


.filter-div-child > .jsx-btn-2.disabled {
    cursor: default;
}
.visibled{
    opacity: none !important;
    pointer-events: auto !important;
}
.filter-div-child > .jsx-btn-2 {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    line-height: 28px;
    min-height: 30px;
    padding: 0 20px;
    color: #8493a8;
    background: #eceff4;
    border: solid 1px #dedede;
    background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}


.top-edit-content {
    display: flex;
    height: calc(100vh  - 100px);
    width: 100%;
}

.scrollbar-account-edit-right{
    text-align: center;
    display: flex;
    flex: 1;
}



#opacity {
    opacity: 1 !important;
}

.scroll-list-account {
    position: relative;
    width: 100%; 
    height: 100%;
}
/* Xem lai */
.ims-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

 section {
    display: block;
}

.ims-modal-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.ims-modal-wrapper {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 120px;
    margin-left: -150px;
    margin-top: -60px;
}


.ims-modal-wrapper-password {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 138px;
    margin-left: -150px;
    margin-top: -60px;
}

.ims-modal header {
    border-bottom: solid 1px #c8c8cc;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    padding: 8px 10px;
    position: relative;
    background: url(../images/modal_title_bg.png) top left repeat-x;
    font: bold 12px Arial;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: move;
}

.ims-modal header .btn_close {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -12px;
    background: url(../images/modal_close_icon.png) center center no-repeat;
    height: 24px;
    width: 24px;
    opacity: 0.8;
    cursor: pointer;
}

.ims-modal > .modal-content {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    background: #fff;
}

.ims-modal .modal-content .message {
    font: bold 12px/18px Arial;
    color: #666;
    width: 100%;
    display: flex;
    align-items: center;
    word-break: break-word;
}

.ims-modal .modal-content .message .icons.error {
    background-position: 0px -151px;
}

 .message > .icons {
    width: 32px;
    height: 32px;
    flex: none;
    background-image: url(../images/notify_icons.png);
    background-repeat: no-repeat;
    margin-right: 10px;
}
.ims-modal-wrapper footer
 {
    background: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
    height: 36px;
    border-top: solid 1px #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: none;
    text-align: right;
    margin-top: 34px;
}

.ims-modal footer .btn-close-ims {
    background: linear-gradient(#f4f4f4, #ececec);
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    padding: 5px 8px;
    white-space: nowrap;
    cursor: pointer;
    margin: 4px;
}

.btn-close-ims {
    transition: all .2s ease-in-out;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.ims-modal footer .btn-close-ims:hover {
    background: linear-gradient(#ececec, #f4f4f4);
}

.text-message {
margin-left: -208px;
}

.ims-container-wrapper {
    display: flex;
    height: 100%;
    min-height: 380px;
}

.ims-container-wrapper-edit {
    display: flex;
    height: 580px;
    min-height: 445px;
}




.ims-container-wrapper .list-account {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    margin: 0 38px 20px;
}
/* Xem */
.ims-container-wrapper .list-account .scroll-list{
    position: relative;
    width: 100%;
    height: 100%;
}
.ims-container-wrapper .list-account .scroll-list-edit{
    position: relative;
    width: 100%;
    height: 100%;
    height: 600px;
}
.ims-container-wrapper .list-account .scroll-list-view {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 10px;
    overflow: scroll;
    margin-right: -8px;
    margin-bottom: -8px;
    width: 100%;
}

.message > .icons.success-account{
    background-position: 0px -115px;
}

.success-account {
    position: absolute;
    z-index: 99999999;
    font-size: 20px;
    top: 40px;
    left: 14px;
    /* left: 44%; */
    padding: 10px;
    border-radius: 8px;
    background: #eee7e7;
    display: block;
}

.message > .text-account{
    
}
.error-account {
    font-size: 17px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    margin-top: 8px;

}

.text-message-pass {
    margin-left: -330px;
}

.footer-pass {
    background: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
    height: 36px;
    border-top: solid 1px #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: none; 
    text-align: right;
    margin-top: 51px;
}


.scrollbar-account-edit-right > .permissions {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 70vh;
}
.scrollbar-account-edit-right > .permissions > .content {
    display: flex;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    flex-grow: 1;
    background-color: #fafafa;
}
.scrollbar-account-edit-right > .permissions > .content .col_left {
    width: 100%;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    top: 27px;
}
.scrollbar-account-edit-right > .permissions > .content .col_left .title {
    font-weight: bold;
    color: #4b4b4b;
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px;
    text-align: left;
}
.scrollbar-account-edit-right > .permissions > .content .col_left .scroll-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-grow: 1 !important;
    height: unset !important;
}
.scrollbar-account-edit-right > .permissions > .content .col_left .scroll-wrapper .scroll-wrapper-view {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
    overflow: scroll;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-right: unset !important;
}
.scrollbar-account-edit-right > .permissions > .content .col_left .content2 {
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 2px;
}
.scrollbar-account-edit-right > .permissions > .content .col_left .list {
    display: flex;
    justify-content: space-between;
    padding: 17px 30px;
    font-size: 14px;    
}
.scrollbar-account-edit-right > .permissions > .content .col_left .list .item .jsx-flipswitch {
    width: 40px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 11px;
}
.jsx-flipswitch > i {
    width: 18px;
    height: 4px;
    position: relative;
    background-color: #e2e2e2;
    border-radius: 10px;
}
.jsx-flipswitch > i::before {
    content: ' ';
    width: 14px;
    height: 14px;
    background: rgba(205, 206, 210, 1);
    display: block;
    position: absolute;
    left: -6px;
    top: -5px;
    border-radius: 100%;
    transition: left 0.3s ease-out, background-color 0.3s ease-out;
}
.jsx-flipswitch.on > i::before {
    background: #2ea2c7;
    left: 10px;
}
.display-none {
    display: none;
}
.dialog-left .content-left .content-info .icon_edit {
    display: block;
    background: url(http://demoims2.cnnd.vn/statics/images/icon_edit.png) 0px -4px no-repeat transparent;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 15px;
    z-index: 99;
    right: 78px;
    cursor: pointer;
}
*[data-tooltip]:hover:before, *[data-tooltip]:hover:after {
    display: block;
    z-index: 110;
}
*[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    display: none;
    bottom: -6px;
    background: #41afd2;
    white-space: nowrap;
    padding: 0 10px;
    z-index: 12;
    font-size: 12px;
    color: #fff;
    font-family: Arial;
    font-weight: normal;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    transform: translate(-50%, 100%);
}
*[data-tooltip]:hover:before, *[data-tooltip]:hover:after {
    display: block;
    z-index: 110;
}

*[data-tooltip]:after {
    left: 50%;
    bottom: -6px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 12;
    pointer-events: none;
    border-color: rgba(65, 175, 210, 0);
    border-bottom-color: #41afd2;
    border-width: 6px;
    margin-left: -6px;
    display: none;
}
.dialog-left .content-left .permission-groups ul li .indicator {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-left .content-left .permission-groups ul li .indicator > div {
    border-radius: 50%;
    background-color: #40d358;
}
.dialog-left .content-left .permission-groups ul li .indicator > div.checked {
    width: 5px;
    height: 5px;
}

.option-action-select {
    margin-left: 10px;
}

ul li .list-ds  .indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}

ul li .indicator > div.checked {
    width: 5px;
    height: 5px;
}

ul li .indicator > div {
    border-radius: 50%;
    background-color: #40d358;
}

.dialogConfirm-Account > .header {
    border-bottom: solid 1px #c8c8cc;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    padding: 8px 10px;
    position: relative;
    background: url(../images/modal_title_bg.png) top left repeat-x;
    font: bold 12px Arial;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: move;
    font-size: 13px;
}

.header > .closeForm {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -12px;
    background: url(../images/modal_close_icon.png) center center no-repeat;
    height: 24px;
    width: 24px;
    opacity: 0.8;
    cursor: pointer;
}