<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add Account</title>
	<link rel="stylesheet" href="./public/css/AddListAccount.css">
    <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="container-add">
		<div class="con-on">
			<div class="R">
				<div class="close-tab">
					<a href="ListAccount.html">
						<i class="fa fa-times"></i>
						<span>đóng</span>
					</a>
				</div>
				<div class="form">
					<div class="txt-input">
						<div class="items">
                            <span>Ảnh</span>
                            <div class="haicham">:</div>
                            <input type="file" class="gr" name="avatar">
                        </div>
                        <div class="items">
                            <span>Tài khoản</span>
                            <div class="haicham">:</div>
                            <input type="text" class="gr" name="username">
                        </div>
                        <div class="items">
                            <span>Họ tên</span>
                            <div class="haicham">:</div>
                            <input type="text" class="gr" name="fullname">
                        </div>
                        <div class="items">
                            <span>Email</span>
                            <div class="haicham">:</div>
                            <input type="text" class="gr" name="email">
                        </div>
                        <div class="items">
                            <span>Chức danh</span>
                            <div class="haicham">:</div>
                            <input type="text" class="gr" name="chucdanh">
                        </div>
                        <div class="items">
                            <span>Điện thoại</span>
                            <div class="haicham">:</div>
                            <input type="text" class="gr" name="sodienthoai">
                        </div>
                        <div class="hr-line">...........................................................................</div>
                        <div class="items">
                            <span>Mật khẩu</span>
                            <div class="haicham">:</div>
                            <input type="password" class="gr"/>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="con-under">
			<div class="btn">
	            <button class="update">
	                <i class="fa fa-check"></i>
	                <span>thêm thông tin</span>
	            </button>
	            <button class="cancel">
	                <i class="fa fa-times-circle-o"></i>
	                <span>hủy</span>
	            </button>
	        </div>
		</div>
	</div>
</body>
</html>